<!--Skills container-->

<div class="skills conteiner-fluid rounded border border-muted p-3">
    <div class=""><h3>Hard & Soft Skills</h3></div>
    <div>Skill 1</div>
    <div class="rounded border border-dark progress-bar progress-bar-striped progress-bar-animated bg-primary" style="width: 80%;">something</div>
    <div>Skill 2</div>
    <div class="rounded border border-dark progress-bar progress-bar-striped progress-bar-animated bg-primary" style="width: 75%;">something</div>
    <div>Skill 3</div>
    <div class="rounded border border-dark progress-bar progress-bar-striped progress-bar-animated bg-primary" style="width: 90%;">something else</div>
    <div>Skill 4</div>
    <div class="rounded border border-dark progress-bar progress-bar-striped progress-bar-animated bg-primary" style="width: 85%;">more something</div>
</div>
