<!-- Experience and education container -->
<!--Posible hacerlas en formas de tarjetas para que quede mas lindo-->

<div class="experience container-fluid rounded border border-muted p-3">
    <h3 class="">Experiencia</h3>
    <div class="row d-flex justify-content-center">
      <div class="col-2"></div>
      <div class="ola col-3 card bg-light border-dark p-2" style="width: 250px;">
        <div class="card-img-top"><img class='logos-exp mx-auto d-block' src="../assets/images/logo-olapic.png"></div>
        <div class="card-body">Content moderator for Olapic from 2016-2022</div>        
      </div>
      <div class="col-2"></div>
      <div class="dxc col-3 card bg-light border-dark p-2" style="width: 250px;">
        <div class="card-img-top"><img class='logos-exp mx-auto d-block' src="../assets/images/dxc.png"></div>
        <div class="card-body">ITO Service Delivery consultant for DXC Technology since January 2022</div>
      </div>
      <div class="col-2"></div>
    </div>
    <h3 class="">Educacion</h3>
    <div class="row align-items-center">
      <img src="../assets/images/fcefyn.png" alt="logo universidad de cordoba" class="logos col-1">
      <div class="col"><h5>UNC</h5>Estudiante de Ingenieria Industrial en la Universidad Nacional de Cordoba</div>
    </div>
    <div class="row align-items-center">
      <img class='logos col-1'src="../assets/images/banner.png" alt="logo argentina programa">
      <div class="col"><h5>Argentina Programa</h5>Full Stack Developer Jr</div>
    </div>
  </div>