<!--Banner Container-->

<div class="banner conteiner-fluid bsg-dark p-3">
    <img src="../assets/images/banner.png" alt="Banner" class="row w-50 mx-auto d-block" >
    <!--<img src="./images/profile.jpg" class="profile" style="height:150px; width:auto;">-->
  </div>
    
  <div>
    <div class="cont2 row align-items-center p-3">
      <div class="col text-start">
        <h3>Matias Mariano Ambrosi</h3>
        <div class="">Full Stack Developer Jr</div>
        <div class="">Cordoba, Argentina <button href="#" type="button" class="btn btn-sm">Contacto</button></div>
        <button type="button" class="intrestbtn btn-sm">Intereses</button>
        <button type='button' class="btn-sm btn-light">Anadir Seccion</button>
        <button type='button' class="btn-sm btn-light">Mas</button>
      </div>
      <div class="col">
        <img src="../assets/images/logo.png" alt="Logo" class="rounded float-end">
      </div>
    </div>
  </div>
